@b todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 16px;

  @e task-title {
    font-family: "Rubik";
    font-style: normal;
    font-size: 32px;
    line-height: 38px;

    /* Black / 90% */
    color: #161717;
    @m checked {
      text-decoration-line: line-through;
    }
  }
}
