@b check-box {
  display: flex;
  box-sizing: border-box;
  border: 3px solid #b4b4b4;
  min-width: 36px;
  min-height: 36px;
  margin: auto 24px auto 5px;
  border-radius: 12px;
  border-width: 3px;
  @m checked {
    background: #29abe2;
  }
}
